* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  text-transform: capitalize;
}
.section-center {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 2rem 0;
}

input {
  margin: 0 1rem;
  padding: 0.4rem;
}

button {
  padding: 0.5rem;
}

p {
  padding: 1rem;
}
